
@font-face {
    font-family: 'dark_crystal';
    src: url('fonts/dc_s-webfont.woff2') format('woff2'),
         url('fonts/dc_s-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}