
@font-face {
    font-family: 'skeksisregular';
    src: url('fonts/skeksis-webfont.woff2') format('woff2'),
         url('fonts/skeksis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}