#card_search_container {
	z-index: 0;
	position: absolute;
	margin-top: 200px;
	color: black;
	text-shadow: 0 0 8px white;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}

#card_search_form {
	margin-bottom: 20px;
}

#group_card_name {
	width: 540px;
	margin: auto;
}
#group_game_name{
	width: 240px;
	margin: auto;
}
#group_set_name {
	width: 540px;
	margin: auto;
}
#group_price_range {
	width: 540px;
	margin: auto;
}
#input_price_range_min {
	margin: 0 0 0 0;
	width: 120px;
	display: inline;
}
#input_price_range_max {
	margin: 0 0 0 0;
	width: 120px;
	display: inline;
	
}

#search_result_container {
	margin: auto;
	width: 600px;
}

.search_result_table {
	width: 600px;
	background-image: url('../assets/parchment.jpg');
	background-size: cover;
	display: block;
	margin-bottom: 20px;
	padding: 20px 15px 20px 15px;
}
.search_result_table img {
	display: inline-block;
	align: left;
}
.search_result_table_desc {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}